
body {
    overflow-x: hidden;
}
main {
    position: relative;
    width: 100%;
}
main div {
   width: 100%;
}
main div p {
    font-size: 20px;
    width: 50%;
    line-height: 2;
    margin: 60px auto;
}
h1 {
    margin-left: 42%;
    margin-top: 30px;
    font-size: 30px;
}
#product-area {
    position: absolute;
    top: 160px;
    left:110px;
    width: 100%;
}
#product-results {
    position: absolute;
    top: 480px;
    left:390px;
    width: 100%;
}
#product-results ul li {
   float: left;
   width: 30%;
   padding-right: 50px;
   padding-bottom: 10px;
}
.bold {
    font-weight: 700;
}

#product-area ul li {
    float: left;
    width: 30%;
    padding-right: 20px;
}

#product-area > ul > li:nth-child(3){
    padding-right: 0px;
}