body {
    overflow-x: hidden;
}
main {
    position: relative;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
#product-area {
    position: absolute;
    top: 250px;
    left:110px;
    width: 100%;
}
#product-results {
    position: absolute;
    top: 550px;
    left:390px;
    width: 100%;
}
#product-results ul li {
   float: left;
   width: 30%;
   padding-right: 50px;
   padding-bottom: 10px;
}
.bold {
    font-weight: 700;
}

#product-area ul li {
    float: left;
    width: 30%;
    padding-right: 20px;
}

#product-area > ul > li:nth-child(3){
    padding-right: 0px;
}